<footer class="Footer">
  <div class="Footer__wrapper">
    <div class="FlexBox">
      <ul class="Footer__list">
        <li class="Footer__listItem"><a class="Footer__listLink Footer__listLink--bold" href="/contents/template/"><span>HOME</span></a></li>
        <li class="Footer__listItem"><a class="Footer__listLink Footer__listLink--bold" href="/contents/template/job/"><span>お仕事を探す</span></a></li>
        <li class="Footer__listItem"><a class="Footer__listLink Footer__listLink--bold" href="#"><span>読み物</span></a></li>
        <li class="Footer__listItem"><a class="Footer__listLink" href="/contents/template/news.php">NEWS</a></li>
        <li class="Footer__listItem"><a class="Footer__listLink" href="/contents/template/contact.php">お問い合わせ</a></li>
        <li class="Footer__listItem"><a class="Footer__listLink" href="/contents/template/privacy.php">個人情報保護方針</a></li>
        <li class="Footer__listItem"><a class="Footer__listLink" href="/contents/template/sitemap.php">サイトマップ</a></li>
      </ul>
      <ul class="Footer__list">
        <li class="Footer__listItem"><a class="Footer__listLink Footer__listLink--bold" href="/contents/template/engineer_dispatch/"><span>エンジニア派遣</span></a></li>
        <li class="Footer__listItem"><a class="Footer__listLink" href="/contents/template/engineer_dispatch/about_dispatch.php">エンジニア派遣登録について</a></li>
        <li class="Footer__listItem"><a class="Footer__listLink" href="/contents/template/engineer_dispatch/about_dispatch.php">当社の派遣について</a></li>
        <li class="Footer__listItem"><a class="Footer__listLink" href="/contents/template/engineer_dispatch/consulting.php">キャリアコンサルタント</a></li>
        <li class="Footer__listItem"><a class="Footer__listLink" href="/contents/template/engineer_dispatch/faq.php">よくある質問</a></li>
        <li class="Footer__listItem"><a class="Footer__listLink" href="/contents/template/corporate/recruit/entry_engineer_dispatch.php">派遣登録エントリー</a></li>
      </ul>
      <ul class="Footer__list">
        <li class="Footer__listItem"><a class="Footer__listLink Footer__listLink--bold" href="/contents/template/future_engineer/"><span>未来のエンジニア</span></a></li>
        <li class="Footer__listItem"><a class="Footer__listLink" href="/contents/template/future_engineer/index.php">未来のエンジニア採用</a></li>
        <li class="Footer__listItem"><a class="Footer__listLink" href="/contents/template/future_engineer/staff.php">社員紹介</a></li>
        <li class="Footer__listItem"><a class="Footer__listLink" href="/contents/template/corporate/recruit/index.php">募集要項</a></li>
        <li class="Footer__listItem"><a class="Footer__listLink" href="/contents/template/corporate/recruit/future_engineer.php">未来のエンジニア<br/>採用エントリー</a></li>
      </ul>
      <ul class="Footer__list">
        <li class="Footer__listItem"><a class="Footer__listLink Footer__listLink--bold" href="/contents/template/solution/"><span>ソリューション</span></a></li>
        <li class="Footer__listItem"><a class="Footer__listLink" href="/contents/template/solution/index.php">人材ソリューション</a></li>
        <li class="Footer__listItem"><a class="Footer__listLink" href="/contents/template/solution/base.php">基盤ソリューション</a></li>
        <li class="Footer__listItem"><a class="Footer__listLink" href="/contents/template/solution/system.php">システムソリューション</a></li>
      </ul>
      <ul class="Footer__list">
        <li class="Footer__listItem"><a class="Footer__listLink Footer__listLink--bold" href="/contents/template/corporate/index.php"><span>企業情報</span></a></li>
        <li class="Footer__listItem"><a class="Footer__listLink" href="/contents/template/corporate/philosophy.php">企業理念</a></li>
        <li class="Footer__listItem"><a class="Footer__listLink" href="/contents/template/corporate/profile.php">会社概要</a></li>
        <li class="Footer__listItem"><a class="Footer__listLink" href="/contents/template/corporate/profile.php#access">アクセス</a></li>
        <li class="Footer__listItem"><a class="Footer__listLink" href="/contents/template/corporate/welfare.php">教育制度・<br/>福利厚生</a></li>
        <li class="Footer__listItem"><a class="Footer__listLink" href="/contents/template/corporate/recruit/">採用情報</a></li>
      </ul>
    </div>

    <div class="Footer__logo FlexBox FlexBox--center">
      <img src="/src/asset/logo.png" />
    </div>

    <div class="FlexBox FlexBox--center">
      <div class="Footer__info">
        <div class="Footer__infoItem">
          <p class="Footer__infoTitle">Free Call.</p>
          <p class="Footer__infoTel">0800-9191-333</p>
        </div>
        <div class="Footer__infoItem">
          <p class="Footer__infoText">ヒューマネテック株式会社</p>
          <p class="Footer__infoText">
            〒101-0041<br/>
            東京都千代田区神田須田町一丁目18番地 アーバンスクエア神田ビル 10F<br/>
            TEL.03-3254-1330　FAX.03-3254-1332
          </p>
        </div>
      </div> 
    </div>

    <ul class="Footer__list Footer__list--sp">
      <li class="Footer__listItem"><a class="Footer__listLink Footer__listLink--bold" href="/contents/template/"><span>HOME</span></a></li>
      <li class="Footer__listItem"><a class="Footer__listLink Footer__listLink--bold" href="/contents/template/job/"><span>お仕事を探す</span></a></li>
      <li class="Footer__listItem"><a class="Footer__listLink Footer__listLink--bold" href="/contents/template/engineer_dispatch/"><span>エンジニア派遣登録</span></a></li>
      <li class="Footer__listItem"><a class="Footer__listLink Footer__listLink--bold" href="/contents/template/future_engineer/"><span>未来のエンジニア採用</span></a></li>
      <li class="Footer__listItem"><a class="Footer__listLink Footer__listLink--bold" href="/contents/template/solution/"><span>ソリューション</span></a></li>
      <li class="Footer__listItem"><a class="Footer__listLink Footer__listLink--bold" href="/contents/template/corporate/"><span>企業情報</span></a></li>
      <li class="Footer__listItem"><a class="Footer__listLink Footer__listLink--bold" href="#"><span>読み物</span></a></li>
    </ul>
  </div>
  
  <div class="Footer__bottom">
    <div class="Footer__privacyWrapper FlexBox">
      <div class="Footer__globalSign">
        <a href="https://profile.globalsign.com/SiteSeal/siteSeal/profile/profile.do?p1=7ad72d8a&p2=e1a90d7ad938f133f8056ba53c20f50186a4ac8ca6f45e248c7aa661a11834e52042e946c0ffea90a7e9">
          <img src="/src/asset/siteSealImage.gif" />
        </a>
      </div>
      <div class="Footer__privacy FlexBox">
        <img src="/src/asset/pp.svg" />
        <p class="Footer__privacyText">
          ヒューマネテックは<br />プライバシーマークを取得しています。
        </p>
      </div>
    </div>
    <small class="Footer__copyright">Copyright©Humanetech All Rights Reserved.</small>
  </div>
</footer>
