<header class="Header">
  <div class="Header__wrapper FlexBox FlexBox--column">
    <div class="Header__container FlexBox FlexBox--middle">
      <div class="Header__logo FlexBox">
        <h1 class="Header__logoImage">
          <a href="/contents/template/">
            <img src="/src/asset/logo-b.png" width="170" alt="HumaneTech" />
          </a>
        </h1>
        <h2 class="Header__logoText">人と技術と教育で未来へつなぐ ヒューマネテック</h2>
      </div>
      <a class="Header__menu js-Header__menu" href="javascript:void(0)"><img src="/src/asset/ico-menu.png"/></a>
      <div class="Header__linkItems FlexBox">
        <a class="Header__linkItem Header__linkItem--blue" href="/contents/template/corporate/recruit/entry_engineer_dispatch.php">エンジニア派遣登録 エントリー</a>
        <a class="Header__linkItem Header__linkItem--red" href="/contents/template/corporate/recruit/future_engineer.php">未来のエンジニア採用 エントリー</a>
        <a class="Header__linkFaq" href="/contents/template/engineer_dispatch/faq.php">FAQ</a>
      </div>
    </div>
    <nav class="Header__navi">
      <ul class="Header__naviList FlexBox">
        <li class="Header__naviListItem FlexBox"><a class="Header__naviListItemLink" href="/contents/template/job/">お仕事を探す</a></li>
        <li class="Header__naviListItem FlexBox"><a class="Header__naviListItemLink" href="/contents/template/engineer_dispatch/">エンジニア派遣登録</a></li>
        <li class="Header__naviListItem FlexBox"><a class="Header__naviListItemLink Header__naviListItemLink--red" href="/contents/template/future_engineer/">未来のエンジニア採用</a></li>
        <li class="Header__naviListItem FlexBox"><a class="Header__naviListItemLink" href="/contents/template/solution/">ソリューション</a></li>
        <li class="Header__naviListItem FlexBox"><a class="Header__naviListItemLink" href="/contents/template/corporate/">企業情報</a></li>
        <li class="Header__naviListItem FlexBox"><a class="Header__naviListItemLink" href="#">読み物</a></li>
      </ul>
    </nav>
  </div>

  <div class="Header__naviContent" id="job">
    <h3 class="Header__naviTitle">お仕事を探す</h3>
    <div class="Header__naviContentWrapper">
      <ul class="Header__naviJob FlexBox">
        <li class="FlexBox FlexBox--center">
          <a class="Header__naviJobItem Header__naviJobItem--dev" href="/contents/template/job/index02.php">
            <p class="Header__naviJobItemText">開　発<br />エンジニア</p>
          </a>
        </li>
        <li class="FlexBox FlexBox--center">
          <a class="Header__naviJobItem Header__naviJobItem--network" href="/contents/template/job/index02.php">
            <p class="Header__naviJobItemText">ネットワーク<br />エンジニア</p>
          </a>
        </li>
        <li class="FlexBox FlexBox--center">
          <a class="Header__naviJobItem Header__naviJobItem--server" href="/contents/template/job/index02.php">
            <p class="Header__naviJobItemText">サーバ<br />エンジニア</p>
          </a>
        </li>
        <li class="FlexBox FlexBox--center">
          <a class="Header__naviJobItem Header__naviJobItem--maintain" href="/contents/template/job/index02.php">
            <p class="Header__naviJobItemText Header__naviJobItemText--1line">運用保守</p>
          </a>
        </li>
        <li class="FlexBox FlexBox--center">
          <a class="Header__naviJobItem Header__naviJobItem--support" href="/contents/template/job/index02.php">
            <p class="Header__naviJobItemText Header__naviJobItemText--1line">サポート</p>
          </a>
        </li>
        <li class="FlexBox FlexBox--center">
          <a class="Header__naviJobItem Header__naviJobItem--office" href="/contents/template/job/index02.php">
            <p class="Header__naviJobItemText">IT事務<br />翻訳系</p>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="Header__naviContent" id="dispatch">
    <h3 class="Header__naviTitle">エンジニア派遣登録</h3>
    <div class="Header__naviContentWrapper">
      <div class="FlexBox">
        <div><img src="/src/asset/img-header1.png"/></div>
        <ul class="Header__naviList2col FlexBox FlexBox--middle">
          <li class="Header__naviList2colItem">
            <a class="Header__naviList2colLink" href="/contents/template/engineer_dispatch/">エンジニア専門派遣の強み</a>
          </li>
          <li class="Header__naviList2colItem">
            <a class="Header__naviList2colLink" href="/contents/template/engineer_dispatch/consulting.php">キャリアコンサルティング</a>
          </li>
          <li class="Header__naviList2colItem">
            <a class="Header__naviList2colLink" href="/contents/template/engineer_dispatch/about_dispatch.php">当社の派遣について</a>
          </li>
          <li class="Header__naviList2colItem">
            <a class="Header__naviList2colLink" href="/contents/template/corporate/welfare.php">教育制度・福利厚生</a>
          </li>
          <li class="Header__naviList2colItem">
            <a class="Header__naviList2colLink" href="/contents/template/engineer_dispatch/faq.php">よくある質問</a>
          </li>
          <li class="Header__naviList2colItem">
            <a class="Header__naviList2colLink" href="/contents/template/corporate/recruit/entry_engineer_dispatch.php">派遣登録エントリー</a>
          </li>
      </div>
    </div>
  </div>

  <div class="Header__naviContent" id="future">
    <h3 class="Header__naviTitle Header__naviTitle--red">未来のエンジニア派遣登録</h3>
    <div class="Header__naviContentWrapper">
      <div class="FlexBox">
        <div><img src="/src/asset/img-header2.png"/></div>
        <ul class="Header__naviList2col FlexBox FlexBox--middle">
          <li class="Header__naviList2colItem">
            <a class="Header__naviList2colLink Header__naviList2colLink--red" href="/contents/template/future_engineer/">未来のエンジニア採用</a>
          </li>
          <li class="Header__naviList2colItem">
            <a class="Header__naviList2colLink Header__naviList2colLink--red" href="/contents/template/future_engineer/staff.php">社員紹介</a>
          </li>
          <li class="Header__naviList2colItem">
            <a class="Header__naviList2colLink Header__naviList2colLink--red" href="/contents/template/corporate/welfare.php">教育制度・福利厚生</a>
          </li>
          <li class="Header__naviList2colItem">
            <a class="Header__naviList2colLink Header__naviList2colLink--red" href="/contents/template/corporate/recruit/index.php">募集要項</a>
          </li>
          <li class="Header__naviList2colItem">
            <a class="Header__naviList2colLink Header__naviList2colLink--red" href="/contents/template/corporate/recruit/future_engineer.php">未来のエンジニア採用 エントリー</a>
          </li>
      </div>
    </div>
  </div>

  <div class="Header__naviContent" id="solution">
    <h3 class="Header__naviTitle">ソリューション</h3>
    <div class="Header__naviContentWrapper">
      <div class="FlexBox">
        <div><img src="/src/asset/img-header3.png"/></div>
        <ul class="Header__naviList1col FlexBox FlexBox--middle">
          <li class="Header__naviList1colItem">
            <div class="FlexBox FlexBox--column FlexBox--center FlexBox--middle">
              <div><img src="/src/asset/ico-human-s.png" height="67" /></div>
              <div class="Header__naviList1colLinkText"><a class="Header__naviList1colLink Header__naviList1colLink--navy" href="/contents/template/solution/">人材ソリューション</a></div>
            </div>
          </li>
          <li class="Header__naviList1colItem">
            <div class="FlexBox FlexBox--column FlexBox--center FlexBox--middle">
              <div><img src="/src/asset/ico-base-s.png" height="67" /></div>
              <div class="Header__naviList1colLinkText"><a class="Header__naviList1colLink Header__naviList1colLink--green" href="/contents/template/solution/base.php">基盤ソリューション</a></div>
            </div>
          </li>
          <li class="Header__naviList1colItem">
            <div class="FlexBox FlexBox--column FlexBox--center FlexBox--middle">
              <div><img src="/src/asset/ico-system-s.png" height="67" /></div>
              <div class="Header__naviList1colLinkText"><a class="Header__naviList1colLink Header__naviList1colLink--blue" href="/contents/template/solution/system.php">システムソリューション</a></div>
            </div>
          </li>
      </div>
    </div>
  </div>

  <div class="Header__naviContent" id="corporate">
    <h3 class="Header__naviTitle">会社情報</h3>
    <div class="Header__naviContentWrapper">
      <div class="FlexBox">
        <div><img src="/src/asset/img-header4.png"/></div>
        <ul class="Header__naviList2col FlexBox FlexBox--middle">
          <li class="Header__naviList2colItem Header__naviList2colItem--row4">
            <a class="Header__naviList2colLink" href="/contents/template/corporate/">会社情報</a>
          </li>
          <li class="Header__naviList2colItem Header__naviList2colItem--row4">
            <a class="Header__naviList2colLink" href="/contents/template/corporate/philosophy.php">経営理念</a>
          </li>
          <li class="Header__naviList2colItem Header__naviList2colItem--row4">
            <a class="Header__naviList2colLink" href="/contents/template/corporate/profile.php">会社概要</a>
          </li>
          <li class="Header__naviList2colItem Header__naviList2colItem--row4">
            <a class="Header__naviList2colLink" href="/contents/template/corporate/profile.php#access">アクセス</a>
          </li>
          <li class="Header__naviList2colItem Header__naviList2colItem--row4">
            <a class="Header__naviList2colLink" href="/contents/template/corporate/profile.php#client">主要取引先</a>
          </li>
          <li class="Header__naviList2colItem Header__naviList2colItem--row4">
            <a class="Header__naviList2colLink" href="/contents/template/corporate/welfare.php">教育制度・福利厚生</a>
          </li>
          <li class="Header__naviList2colItem Header__naviList2colItem--row4">
            <a class="Header__naviList2colLink" href="/contents/template/corporate/recruit/">採用情報</a>
          </li>
      </div>
    </div>
  </div>

  <div class="Header__menuContent js-Header__menuContent">
    <div class="Header__menuContentList FlexBox FlexBox--center FlexBox--middle">
      <a class="Header__menuContentItem" href="/contents/template/job/">お仕事を探す</a>
    </div>
  </div>
</header>