<header class="Header">
  <div class="Header__wrapper FlexBox FlexBox--column">
    <div class="Header__container FlexBox FlexBox--middle">
      <div class="Header__logo FlexBox">
        <h1 class="Header__logoImage">
          <a href="/contents/template/">
            <img src="/src/asset/logo-b.png" width="170" alt="HumaneTech" />
          </a>
        </h1>
        <h2 class="Header__logoText">人と技術と教育で未来へつなぐ ヒューマネテック</h2>
      </div>
      <a class="Header__menu js-Header__menu" href="javascript:void(0)"><img src="/src/asset/ico-menu.png"/></a>
      <div class="Header__linkItems FlexBox">
        <a class="Header__linkItem Header__linkItem--blue" href="/contents/template/corporate/recruit/entry_engineer_dispatch.php">エンジニア派遣登録 エントリー</a>
        <a class="Header__linkItem Header__linkItem--red" href="/contents/template/corporate/recruit/future_engineer.php">未来のエンジニア採用 エントリー</a>
        <a class="Header__linkFaq" href="/contents/template/engineer_dispatch/faq.php">FAQ</a>
      </div>
    </div>
    <nav class="Header__navi">
      <ul class="Header__naviList FlexBox">
        <li class="Header__naviListItem FlexBox"><a class="Header__naviListItemLink" href="/contents/template/job/">お仕事を探す</a></li>
        <li class="Header__naviListItem FlexBox"><a class="Header__naviListItemLink" href="/contents/template/engineer_dispatch/">エンジニア派遣登録</a></li>
        <li class="Header__naviListItem FlexBox"><a class="Header__naviListItemLink Header__naviListItemLink--red" href="/contents/template/future_engineer/">未来のエンジニア採用</a></li>
        <li class="Header__naviListItem FlexBox"><a class="Header__naviListItemLink" href="/contents/template/solution/">ソリューション</a></li>
        <li class="Header__naviListItem FlexBox"><a class="Header__naviListItemLink" href="/contents/template/corporate/">企業情報</a></li>
        <li class="Header__naviListItem FlexBox"><a class="Header__naviListItemLink" href="#">読み物</a></li>
      </ul>
    </nav>
  </div>

  <div class="Header__naviContent" id="job">
    <h3 class="Header__naviTitle">お仕事を探す</h3>
    <div class="Header__naviContentWrapper">
      <div class="FlexBox">
        <div class="Header__naviJobIcon"><span>お仕事を探す</span></div>
        <ul class="Header__naviListJob">
          <li class="Header__naviListJobItem">
            <a class="Header__naviListJobLinkIcon Header__naviListJobLinkIcon--pm" href="/contents/template/corporate/">
              PM
            </a>
          </li>
          <li class="Header__naviListJobItem">
            <a class="Header__naviListJobLinkIcon Header__naviListJobLinkIcon--pmo" href="/contents/template/corporate/profile.php">
              PMO
            </a>
          </li>
          <li class="Header__naviListJobItem">
            <a class="Header__naviListJobLinkIcon Header__naviListJobLinkIcon--se" href="/contents/template/corporate/profile.php#access">
              開発 SE
            </a>
          </li>
        </ul>
        <ul class="Header__naviListJob">
          <li class="Header__naviListJobItem">
            <a class="Header__naviListJobLinkIcon Header__naviListJobLinkIcon--dev" href="/contents/template/corporate/profile.php#client">
              開発プログラマー
            </a>
          </li>
          <li class="Header__naviListJobItem">
            <a class="Header__naviListJobLinkIcon Header__naviListJobLinkIcon--network" href="/contents/template/corporate/welfare.php">
              ネットワークエンジニア
            </a>
          </li>
          <li class="Header__naviListJobItem">
            <a class="Header__naviListJobLinkIcon Header__naviListJobLinkIcon--server" href="/contents/template/corporate/recruit/">
              サーバエンジニア
            </a>
          </li>
        </ul>
        <ul class="Header__naviListJob">
          <li class="Header__naviListJobItem">
            <a class="Header__naviListJobLinkIcon Header__naviListJobLinkIcon--help" href="/contents/template/corporate/recruit/">
              ヘルプデスク
            </a>
          </li>
          <li class="Header__naviListJobItem">
            <a class="Header__naviListJobLinkIcon Header__naviListJobLinkIcon--marketing" href="/contents/template/corporate/recruit/">
              マーケティング
            </a>
          </li>
          <li class="Header__naviListJobItem">
            <a class="Header__naviListJobLinkIcon Header__naviListJobLinkIcon--office" href="/contents/template/corporate/recruit/">
              事務
            </a>
          </li>
        </ul>
        <ul class="Header__naviListJob">
          <li class="Header__naviListJobItem">
            <a class="Header__naviListJobLinkIcon Header__naviListJobLinkIcon--other" href="/contents/template/corporate/recruit/">
              その他
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="Header__naviContent" id="dispatch">
    <h3 class="Header__naviTitle">エンジニア派遣登録</h3>
    <div class="Header__naviContentWrapper">
      <div class="FlexBox">
        <div><img src="/src/asset/img-header1.png"/></div>
        <ul class="Header__naviList2col FlexBox FlexBox--middle">
          <li class="Header__naviList2colItem">
            <a class="Header__naviList2colLink" href="/contents/template/engineer_dispatch/">エンジニア専門派遣の強み</a>
          </li>
          <li class="Header__naviList2colItem">
            <a class="Header__naviList2colLink" href="/contents/template/engineer_dispatch/consulting.php">キャリアコンサルティング</a>
          </li>
          <li class="Header__naviList2colItem">
            <a class="Header__naviList2colLink" href="/contents/template/engineer_dispatch/about_dispatch.php">当社の派遣について</a>
          </li>
          <li class="Header__naviList2colItem">
            <a class="Header__naviList2colLink" href="/contents/template/corporate/welfare.php">教育制度・福利厚生</a>
          </li>
          <li class="Header__naviList2colItem">
            <a class="Header__naviList2colLink" href="/contents/template/engineer_dispatch/faq.php">よくある質問</a>
          </li>
          <li class="Header__naviList2colItem">
            <a class="Header__naviList2colLink" href="/contents/template/corporate/recruit/entry_engineer_dispatch.php">派遣登録エントリー</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="Header__naviContent" id="future">
    <h3 class="Header__naviTitle Header__naviTitle--red">未来のエンジニア派遣登録</h3>
    <div class="Header__naviContentWrapper">
      <div class="FlexBox">
        <div><img src="/src/asset/img-header2.png"/></div>
        <ul class="Header__naviList2col FlexBox FlexBox--middle">
          <li class="Header__naviList2colItem">
            <a class="Header__naviList2colLink Header__naviList2colLink--red" href="/contents/template/future_engineer/">未来のエンジニア採用</a>
          </li>
          <li class="Header__naviList2colItem">
            <a class="Header__naviList2colLink Header__naviList2colLink--red" href="/contents/template/future_engineer/staff.php">社員紹介</a>
          </li>
          <li class="Header__naviList2colItem">
            <a class="Header__naviList2colLink Header__naviList2colLink--red" href="/contents/template/corporate/welfare.php">教育制度・福利厚生</a>
          </li>
          <li class="Header__naviList2colItem">
            <a class="Header__naviList2colLink Header__naviList2colLink--red" href="/contents/template/corporate/recruit/index.php">募集要項</a>
          </li>
          <li class="Header__naviList2colItem">
            <a class="Header__naviList2colLink Header__naviList2colLink--red" href="/contents/template/corporate/recruit/future_engineer.php">未来のエンジニア採用 エントリー</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="Header__naviContent" id="solution">
    <h3 class="Header__naviTitle">ソリューション</h3>
    <div class="Header__naviContentWrapper">
      <div class="FlexBox">
        <div><img src="/src/asset/img-header3.png"/></div>
        <ul class="Header__naviList1col FlexBox FlexBox--middle">
          <li class="Header__naviList1colItem">
            <a class="Header__naviList1colLink Header__naviList1colLink--navy" href="/contents/template/solution/">
              <div class="FlexBox FlexBox--column FlexBox--center FlexBox--middle">
                <div><img src="/src/asset/ico-human-s.png" height="67" /></div>
                <div class="Header__naviList1colLinkText">
                  人材ソリューション
                </div>
              </div>
            </a>
          </li>
          <li class="Header__naviList1colItem">
            <a class="Header__naviList1colLink Header__naviList1colLink--green" href="/contents/template/solution/base.php">
              <div class="FlexBox FlexBox--column FlexBox--center FlexBox--middle">
                <div><img src="/src/asset/ico-base-s.png" height="67" /></div>
                <div class="Header__naviList1colLinkText">
                  基盤ソリューション
                </div>
              </div>
            </a>
          </li>
          <li class="Header__naviList1colItem">
            <a class="Header__naviList1colLink Header__naviList1colLink--blue" href="/contents/template/solution/system.php">
              <div class="FlexBox FlexBox--column FlexBox--center FlexBox--middle">
                <div><img src="/src/asset/ico-system-s.png" height="67" /></div>
                <div class="Header__naviList1colLinkText">
                  システムソリューション
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="Header__naviContent" id="corporate">
    <h3 class="Header__naviTitle">会社情報</h3>
    <div class="Header__naviContentWrapper">
      <div class="FlexBox">
        <div><img src="/src/asset/img-header4.png"/></div>
        <ul class="Header__naviList2col FlexBox FlexBox--middle">
          <li class="Header__naviList2colItem Header__naviList2colItem--row4">
            <a class="Header__naviList2colLink" href="/contents/template/corporate/">会社情報</a>
          </li>
          <li class="Header__naviList2colItem Header__naviList2colItem--row4">
            <a class="Header__naviList2colLink" href="/contents/template/corporate/philosophy.php">経営理念</a>
          </li>
          <li class="Header__naviList2colItem Header__naviList2colItem--row4">
            <a class="Header__naviList2colLink" href="/contents/template/corporate/profile.php">会社概要</a>
          </li>
          <li class="Header__naviList2colItem Header__naviList2colItem--row4">
            <a class="Header__naviList2colLink" href="/contents/template/corporate/profile.php#access">アクセス</a>
          </li>
          <li class="Header__naviList2colItem Header__naviList2colItem--row4">
            <a class="Header__naviList2colLink" href="/contents/template/corporate/profile.php#client">主要取引先</a>
          </li>
          <li class="Header__naviList2colItem Header__naviList2colItem--row4">
            <a class="Header__naviList2colLink" href="/contents/template/corporate/welfare.php">教育制度・福利厚生</a>
          </li>
          <li class="Header__naviList2colItem Header__naviList2colItem--row4">
            <a class="Header__naviList2colLink" href="/contents/template/corporate/recruit/">採用情報</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="Header__menuContent js-Header__menuContent">
    <div class="Header__menuJob FlexBox FlexBox--center FlexBox--middle">
      <a class="Header__menuJobItem" href="/contents/template/job/">
        <span>お仕事を探す</span>
      </a>
    </div>
    <div class="Header__menuItem FlexBox FlexBox--column FlexBox--middle">
      <a href="javascript:void(0);" class="Header__menuImageMask js-openMenuContents">
        <img src="/src/asset/bnr-menu-dispatch.png" alt="エンジニア派遣登録" />
      </a>
      <div class="Header__hiddenList">
        <div class="Header__menuList">
          <div class="FlexBox">
            <div class="Header__menuListRow">
              <a href="/contents/template/engineer_dispatch/">エンジニア派遣登録について</a>
              <a href="/contents/template/engineer_dispatch/about_dispatch.php">当社の派遣について</a>
              <a href="/contents/template/engineer_dispatch/faq.php">よくある質問</a>
            </div>
            <div class="Header__menuListRow">
              <a href="/contents/template/engineer_dispatch/consulting.php">キャリアコンサルrティング</a>
              <a href="/contents/template/corporate/welfare.php">教育制度・福利厚生</a>
            </div>
          </div>
          <div class="FlexBox FlexBox--center">
            <a href="/contents/template/corporate/recruit/entry_engineer_dispatch.php" class="Header__menuButton">エンジニア派遣登録エントリー</a>
          </div>
        </div>
      </div>
    </div>
    <div class="Header__menuItem FlexBox FlexBox--column FlexBox--middle">
      <a href="javascript:void(0);" class="Header__menuImageMask js-openMenuContents">
        <img src="/src/asset/bnr-menu-future.png" alt="未来のエンジニア採用" />
      </a>
      <div class="Header__hiddenList">
        <div class="Header__menuList Header__menuList--red">
          <div class="FlexBox">
            <div class="Header__menuListRow">
              <a href="/contents/template/future_engineer/">未来のエンジニア採用</a>
              <a href="/contents/template/corporate/welfare.php">教育制度・福利厚生</a>
            </div>
            <div class="Header__menuListRow">
              <a href="/contents/template/future_engineer/staff.php">社員紹介</a>
              <a href="/contents/template/corporate/recruit/index.php">募集要項</a>
            </div>
          </div>
          <div class="FlexBox FlexBox--center">
            <a href="/contents/template/corporate/recruit/future_engineer.php" class="Header__menuButton Header__menuButton--red">未来のエンジニア採用エントリー</a>
          </div>
        </div>
      </div>
    </div>
    <div class="Header__menuItem">
      <a href="/contents/template/solution/" class="FlexBox FlexBox--center">
        <div><img src="/src/asset/bnr-menu-human.png" alt="人材ソリューション" /></div>
      </a>
      <a href="/contents/template/solution/base.php" class="FlexBox FlexBox--center">
        <div><img src="/src/asset/bnr-menu-base.png" alt="基盤ソリューション" /></div>
      </a>
      <a href="/contents/template/solution/" class="FlexBox FlexBox--center">
        <div><img src="/src/asset/bnr-menu-system.png" alt="システムソリューション" /></div>
      </a>
    </div>
    <div class="Header__menuListWrapper">
      <div class="Header__menuTitle Header__menuTitle--company">
        <img src="/src/asset/title-menu-company.png" alt="HumaneTech COMPANY" />
      </div>
      <div class="Header__menuList FlexBox">
        <div class="Header__menuListRow">
          <a href="/contents/template/corporate/">会社情報</a>
          <a href="/contents/template/corporate/profile.php">会社概要</a>
          <a href="/contents/template/corporate/profile.php#client">主要取引先</a>
          <a href="/contents/template/corporate/recruit/">採用情報</a>
        </div>
        <div class="Header__menuListRow">
          <a href="/contents/template/corporate/philosophy.php">経営理念</a>
          <a href="/contents/template/corporate/profile.php#access">アクセス</a>
          <a href="/contents/template/corporate/welfare.php">教育制度・福利厚生</a>
        </div>
      </div>
    </div>
    <div class="Header__menuListWrapper">
      <div class="Header__menuTitle Header__menuTitle--read">
        <a href="#"><span>読み物</span></a>
      </div>
      <div class="Header__menuList Header__menuList--other FlexBox">
        <div class="Header__menuListRow">
          <a href="/contents/template/news.php">NEWS</a>
          <a href="/contents/template/contact.php">お問い合わせ</a>
        </div>
        <div class="Header__menuListRow">
          <a href="/contents/template/privacy.php">個人情報保護方針</a>
          <a href="/contents/template/sitemap.php">サイトマップ</a>
        </div>
      </div>
    </div>
  </div>
</header>