/* foundation */
@import './foundation/reset/_reset.css';
@import './foundation/common/_common.css';
@import './foundation/variables/_variables.css';
@import './foundation/colors/_colors.css';
@import './foundation/page/_page.css';

/* tool */
@import './tool/util.css';
@import './tool/breakPoint.css';
@import './tool/sprite.css';
@import './tool/slick.css';

/* component */
@import './component/button.css';
@import './component/flexbox.css';

/* ui */
@import './ui/header.css';
@import './ui/breadCrumb.css';
@import './ui/roundWrapper.css';
@import './ui/form.css';
@import './ui/localNavi.css';
@import './ui/footer.css';

@import './ui/top.css';
@import './ui/future.css';
@import './ui/engineer_dispatch.css';
@import './ui/solution.css';
@import './ui/corporate.css';
@import './ui/job.css';
@import './ui/others.css';
@import './ui/override.css';