.Corporate {

  .is-sp {
    display: none;

    @mixin sp {
      display: block;
    }
  }

  .is-pc {
    display: block;

    @mixin sp {
      display: none;
    }
  }

  &__main {
    position: relative;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @mixin sp {
      height: 350px;
      align-items: baseline;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: "";
      display: block;
    }

    &--corporate {
      background-image: url(../../asset/corporate/main-corporate.png);

      &:before {
        background-color: rgba(0,49,115,.07)
      }
    }

    &--philosophy {
      background-image: url(../../asset/corporate/main-philosophy.png);

      &:before {
        background-color: rgba(0,49,115,.07)
      }
    }

    &--profile {
      background-image: url(../../asset/corporate/main-profile.png);

      &:before {
        background-color: rgba(0,49,115,.07)
      }
    }

    &--welfare {
      background-image: url(../../asset/corporate/main-welfare.png);

      &:before {
        background-color: rgba(0,49,115,.4)
      }
    }

    &--recruit {
      background-image: url(../../asset/corporate/main-require.png);

      &:before {
        background-color: rgba(0,49,115,.4)
      }
    }

    &--career {
      background-image: url(../../asset/corporate/main-career.png);

      @mixin sp {
        background-image: url(../../asset/corporate/main-career-sp.png);
        background-color: col-primary-navy;
        background-position: bottom right;
        background-size: contain;
      }
    }

    &--future {
      background-image: url(../../asset/corporate/main-future.png);
      background-size: cover;

      @mixin sp {
        background-image: url(../../asset/corporate/main-future-sp.png);
        background-color: col-primary-red;
        background-position: bottom right;
        background-size: contain;
      }
    }

    &--dispatch {
      background-image: url(../../asset/corporate/main-dispatch.png);

      @mixin sp {
        background-image: url(../../asset/corporate/main-dispatch-sp.png);
        background-color: col-primary-navy;
        background-position: bottom right;
        background-size: contain;
      }
    }
  }

  &__title {
    margin-left: 14%;
    z-index: 1;

    @mixin sp {
      margin-left: 30px;
    }

    img {
      @mixin sp{
        margin-top: 70px;
        width: 70%;
      }
    }
  }

  &__container {
    background-color: #E6EAF2;
    padding: 100px 0;

    @mixin sp {
      padding: 60px 0;
    }

    &--text {
      padding: 100px 0 0;

      @mixin sp {
        padding: 60px 10px 0;
      }
    }

    .RoundWrapper + & {
      margin-top: 60px;
      margin-bottom: 60px;
    }
  }

  &__wrapper {
    background-color: rgba(0,49,115,.05);
    padding: 60px 10px 100px;

    @mixin sp {
      padding: 30px 10px 30px;
    }

    &--red {
      background-color: rgba(243,226,227,.43);
    }
  }

  &__links {
    & + & {
      margin-top: 20px;
    }

    @mixin sp {
      flex-wrap: wrap;
    }
  }

  &__link {
    display: block;
    width: 327px;

    &--small {
      width: 242px;
      
      @mixin sp {
        width: 100%;
      }
    }

    & + & {
      margin-left: 10px;

      @mixin sp {
        margin-left: 0;
        margin-top: 20px;
      }
    }

    @mixin sp {
      width: 100%;
    }

  }

  &__linkText {
    text-align: center;
    height: 68px;
    line-height: 68px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    font-size: 1.8rem;
    margin-top: -3px;
  }

  &__textWrapper {
    height: 260px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    font-size: 1.8rem;
    margin-top: -3px;
    padding: 30px;

    @mixin sp {
      height: auto;
    }
  }

  &__textLink {
    display: block;

    & + & {
      margin-top: 10px;
    }
  }

  &__listItem {
    padding: 16px 30px;

    @mixin sp {
      flex-direction: column;
    }

    &:nth-child(odd) {
      background-color: rgba(0,49,115,.05);
    }
  }

  &__listTitle {
    font-weight: bold;
    min-width: 160px;

    @mixin sp {
      margin-bottom: 8px;
    }
  }

  &__listText {
    line-height: 1.8;

    a {
      color: col-primary-navy;

      &:hover {
        text-decoration: underline;
      }

      &.underLine {
        text-decoration: underline;
      }
    }
  }

  &__bnrWrapper {
    padding: 60px 0 0;

    @mixin notPC {
      flex-direction: column;
      align-items: center;
    }

    a + a {
      margin-left: 12px;
      
      @mixin notPC {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
}

.Welfare {
  &__leadWrapper {
    max-width: 900px;
    color: #fff;

    @mixin sp {
      text-align: center;
    }
  }

  &__leadTitle {
    margin-bottom: 40px;
  }
  
  &__leadTitleText {
    margin-bottom: 30px;

    &.is-sp {
      @mixin sp {
        max-width: 80%;
        display: inline-block!important;
      }
    }
  }

  &__leadText {
    line-height: 2;
    text-align: left;
  }

  &__leadBottomText {
    margin-top: 60px;
  }

  &__item {
    border-top: 2px solid rgba(0,49,115,.21);
    padding-top: 40px;

    & + & {
      margin-top: 40px;
    }

    & > .FlexBox {
      @mixin sp {
        flex-direction: column;
      }
    }
  }

  &__itemTitle {
    min-width: 235px;
    font-size: 1.8rem;
    font-weight: bold;
    color: col-primary-navy;

    @mixin sp {
      text-align: center;
      margin-bottom: 30px;
    } 

  }

  &__itemBold {
    font-weight: bold;
    margin-bottom: 12px;

    @mixin sp {
      margin-bottom: 4px;
    }

    .Welfare__itemText + & {
      margin-top: 30px;
    }
  }

  &__itemText {
    line-height: 2;

    a {
      color: col-primary-navy;
      text-decoration: underline;
    }
  }

  &__itemBlock {
    .RoundWrapper__title {
      text-align: left;
    }

    & > .RoundWrapper__contents > .FlexBox {
      @mixin notPC {
        flex-direction: column;
      }
    }
  }

  &__itemBlockText {
    margin-right: 30px;
    line-height: 2;
    max-width: 720px;

    .RoundWrapper__title {
      @mixin sp {
        text-align: center;
        margin-bottom: 30px;
      }
    }

    @mixin sp {
      padding-left: 0;
      margin-right: 0;
    }
  }

  &__itemBlockImage {
    @mixin notPC {
      margin-top: 20px;
    }
  }

  &__itemBlockTextSmall {
    margin-top: 20px;
    font-size: 1.4rem;
  }

  &__list {
    margin-top: 60px;

    @mixin sp {
      flex-wrap: wrap;
      margin-top: 30px;
    }
  }
  
  &__listItems {
    flex-basis: 33.3%;

    @mixin sp {
      flex-basis: 100%;
      margin-bottom: 30px;
    }

    & + & {
      margin-left: 14px;

      @mixin sp {
        margin-left: 0;
      }
    }
  }

  &__listTitle {
    font-weight: bold;
    font-size: 18px;
    color: col-primary-navy;
    border-bottom: 2px solid rgba(0,49,115,.21);
    padding-bottom: 6px;
    margin-bottom: 16px;

    @mixin sp {
      text-align: center;
    }

    .Welfare__listText + & {
      margin-top: 30px;

      @mixin sp {
        margin-top: 30px;
      }
    }
  }

  &__listText {
    padding-left: 1rem;
    text-indent: -1rem;

    p + p {
      margin-top: 8px;
    }
  }
}

.Philosophy {

  &__leadWrapper {
    padding: 0 10px;
    @mixin sp {
      flex-direction: column;
    }
  }

  &__leadTitle {
    font-size: 6.8rem;
    color: #fff;
    margin-top: -20px;
    margin-bottom: 60px;
    text-align: center;

    @mixin sp {
      font-size: 4.4rem;
      margin-bottom: 20px;
    } 
  }

  &__leadText {
    color: #fff;
    max-width: 820px;
    line-height: 2;
    margin-right: 60px;

    p + p {
      margin-top: 40px;
    }

    @mixin sp{
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &__name {
    font-size: 3.8rem;
    color: #fff;
    line-height: 1;
    margin-top: 20px;
    padding-left: 50px;

    @mixin sp {
      padding-left: 0;
      text-align: center;
    }

    span {
      font-size: 1.6rem;
      padding-right: 20px;
    }

    &--large {
      font-size: 4.3rem
    }
  }

  &__imageWrapper {
    @mixin sp {
      text-align: center;
    }
  }

  &__container {
    background-color: #fff;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 0 120px;

    @mixin sp {
      padding: 0 10px 60px;
    }

    & + & {
      margin-top: 10px;
    }

    &--header {
      padding: 0 0 140px;
      border-radius: 14px 14px 0 0;

      @mixin sp {
        padding: 0 10px 60px;
      }
    }

    &--footer {
      border-radius: 0 0 14px 14px;
      padding: 60px 0 60px;

      @mixin sp {
        padding: 60px 10px 60px;
      }
    }
  }

  &__itemTitle {
    font-weight: bold;
    font-size: 2.4rem;
    margin-bottom: 40px;
  }

  &__itemText {
    font-size: 2.6rem;

    &--center {
      text-align: center;
    }
  }

  &__value {
    margin-top: 40px;

    @mixin sp {
      flex-wrap: wrap;
      margin-left: -50px;
    } 
  }

  &__valueItem {
    margin-left: 16px;

    @mixin sp {
      max-width: 110px;
      margin-left: 50px;
      margin-bottom: 20px;
    }

    img {
      @mixin sp {
        max-width: 110px;
      }
    }

    &:nth-child(3) {
      @mixin sp {
        width: 100%;
        max-width: 100%;
        text-align: center;
      } 

      .Philosophy__valueItemText {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &__valueItemText {
    text-align: center;
    margin-top: 20px;
    max-width: 145px;

    &--2col {
      padding-top: 1rem;
    }
  }

  &__separator {
    margin: 40px 0 30px;
  }
}

.Profile {

  .RoundWrapper__contents {
    @mixin sp {
      padding: 0 10px;
    }
  }

  &__container {

    &.RoundWrapper {
      padding: 0 0 140px;
      overflow: hidden;
    }

    &--0padding {
      &.RoundWrapper {
        padding: 0;
        overflow: hidden;
      }
    }
  }

  &__contentsTitle {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;


    @mixin sp {
      margin-bottom: 20px;
    }
  }

  &__table {
    width: 100%;
    margin-top: 30px;
    position: relative;

    td {
      vertical-align: text-bottom;
      line-height: 1.2;
      padding: 5px;

      @mixin sp {
        line-height: 1.5;
        display: block;
        padding-left: 0;
      }

      & + & {
        @mixin sp {
          margin-top: 10px;
        }
      }

      p + p {
        margin-top: 6px;
      }
    }

    &:last-of-type {
      margin-bottom: 80px;
    }

    & + & {
      &:after {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        top: -15px;
        background-color:  rgba(0,49,115,.21);
        position: absolute;
      }
    }
  }

  &__tableTitle {
    width: 140px;

    @mixin sp {
      font-weight: bold;
    }
  }

  &__column {
    & + & {
      @mixin sp {
        margin-top: -20px;
      }
    }
  }

  &__date {
    font-size: 2.1rem;
    text-align: right;
    width: 100px;
    white-space: nowrap;

    .is-spInline {
      display: none;

      @mixin sp {
        display: inline;
      }
    }

    @mixin sp {
      text-align: left;
    }
  }

  &__text {
    .Profile__date + & {
      padding-left: 40px;

      @mixin sp {
        padding-left: 0;
        margin-top: -8px;
      }
    }
  }

  &__separator {
    display: block;
    border-bottom: 2px solid rgba(0,49,115,.21);
    padding-bottom: 10px;
  }

  &__mapWrapper {
    margin-top: -40px;

    @mixin sp {
      max-height: 424px;
      width: 100%;
      overflow: hidden;
      margin: 0;
    }

    iframe {
      filter: grayscale(1);
    }
  }

  &__listItem {
    width: 50%;

    @mixin sp {
      width: 100%;
    }

    div {
      border-bottom: 2px solid rgba(0,49,115,.21);
      padding: 12px 0 12px 20px;
    }

    &:nth-child(even) {
      div {
        margin-left: 40px;

        @mixin sp {
          margin-left: 0;
        }
      }
    }
  }
}


.Entry {
  &__infoWrapper {
    max-width: 900px;
    margin: 100px auto 0;
    padding-top: 80px;
    border-top: 2px solid rgba(0,49,115,.05);

    @mixin notPC {
      margin: 50px auto 0;
      padding-top: 40px;
    }
  }
}