.Dispatch {

  .is-sp {
    display: none;

    @mixin sp {
      display: inline-block;
    }
  }

  .is-pc {
    display: block;

    @mixin sp {
      display: none;
    }
  }

  &__main {
    position: relative;
    height: 720px;
    background-image: url(../../asset/engineer_dispatch/main.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden; 
    background-position: center center;
    padding: 20px;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: .5s;
    animation-fill-mode: forwards;

    @mixin sp {
      height: 500px;
      background-image: url(../../asset/engineer_dispatch/main-sp.png);
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: col-primary-navy;
      opacity: 0;
      z-index: 1;
    }

    &--consulting {
      height: 600px;
      background-image: url(../../asset/engineer_dispatch/main-consulting.png);

      @mixin sp {
        height: 350px;
      }

      &:before {
        opacity: .4;
      }
    }

    &--about {
      height: 600px;
      background-image: url(../../asset/engineer_dispatch/main-about.png);

      @mixin sp {
        height: 350px;
      }

      &:before {
        opacity: .4;
      }
    }

    &--faq {
      height: 600px;
      background-image: url(../../asset/engineer_dispatch/main-faq.png);

      @mixin sp {
        height: 350px;
      }
    }
  }

  &__mainTitle {
    position: relative;
    height: 100%;
    z-index: 1;
    max-width: 1137px;
    margin: 0 auto;

    &--about,
    &--faq,
    &--consulting {
      left: 10%;

      @mixin sp {
        top: 40px;
        left: 3%;
      }

      img {
        transform: scale(0.8);
        transform-origin: left top;
      }
    }

    @mixin sp {
      flex-direction: column;
    }
  }

  &__mainSeparateTitle {
    flex: 1;
    margin-top: -80px;

    @mixin notPC {
      flex: auto;
    }
    @mixin sp {
      margin-top: 0;
    }
    img {
      @mixin sp {
        transform: scale(0.8);
        transform-origin: left center; 
      }
    }
  }

  &__mainBadge {
    margin-top: 280px;
    
    @mixin sp {
      width: 100%;
      margin-top: 0;
      text-align: right;
    }

    img {
      @mixin sp {
        transform: scale(0.6);
        transform-origin: right center; 
      }
    }
  }

  &__lead {
    background-color: col-primary-navy;
    padding: 80px 0 0;

    @mixin sp {
      padding: 80px 10px 0;
    }
  }

  &__leadTitle {
    margin-bottom: 40px;
  }

  &__leadText {
    color: #fff;
    font-size: 1.4rem;
    margin-bottom: 60px;
    max-width: 900px;

    &--center {
      text-align: center;
      margin-bottom: 80px;
    }
    
    @mixin notPC {
      font-size: 1.5rem;
      line-height: 1.8;
    }
  }

  &__contents {
    background-color: col-bg-blue;
    padding: 60px 0 0;

    @mixin notPC {
      padding: 60px 10px 0;
    }
  }

  &__logoWrapper {
    margin-bottom: -40px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
    
    @mixin notPC {
      width: auto;
    }

    & > div {
      flex-basis: 193px;
      margin-bottom: 40px;

      @mixin notPC {
        flex-basis: 30%;
      }
    }
  }

  &__jobWrapper {
    flex-wrap: wrap;
    margin-bottom: 40px;

    & + & {
      margin-bottom: 20px;
    }
  }

  &__jobItem {
    margin-bottom: 30px;
    flex-basis: 33.3%;

    @mixin sp {
      flex-basis: 50%;
      flex-direction: column;
    }
  }

  &__jobItemText {
    margin-left: 12px;

    @mixin sp {
      margin-top: 20px;
    }
  }

  &__personImage {
    margin-bottom: 60px;

    & > div {
      @mixin sp {
        width: 50%;
      }
    }

    @mixin sp {
      flex-wrap: wrap;
    }
  }

  &__backupItems {
    margin-bottom: 40px;

    @mixin sp {
      flex-direction: column;
    }
  }
  
  &__backupItem {
    p,
    ul {
      padding-left: 20px;

      @mixin sp {
        flex-direction: column;
        padding-left: 0px;
      }
    }

    & + & {
      margin-left: 20px;

      @mixin sp {
        margin-left: 0;
        margin-top: 40px;
      }
    }

    li {
      line-height: 1.8;
    }
  }

  &__backupItemTitle {
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  &__flowItemText {
    margin-top: 20px;
    margin-bottom: 40px;

    @mixin sp {
      flex-direction: column;
    }

    &--adjust {
      margin-top: 40px;
    }

    p {
      line-height: 2;
      margin-right: 20px;

      @mixin sp {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

  &__btnWrapper {
    @mixin sp {
      flex-direction: column;
    }

    .Button + .Button {
      margin-left: 20px;

      @mixin sp {
        margin-left: auto;
        margin-top: 20px;
      }

    }
  }

  &__leadFlowWrapper {
    overflow-x: auto;
    width: 100%;
    text-align: center;
  }

  &__leadFlow {
    margin-bottom: 60px;

    @mixin sp {
      width: 952px;
      max-width: inherit;
      margin-bottom: 10px;
    }
  }
  
  &__leadFlowSmall {
    display: none;

    @mixin sp {
      font-size: 1.2rem;
      margin-top: 10px;
      margin-bottom: 30px;
      text-align: left;
      display: block;
      width: 100%;
    }
  }

  &__bnrWrapper {
    padding: 120px 0;

    @mixin sp {
      flex-direction: column;
      align-items: center;
      padding: 30px 0;
    }

    a + a {
      margin-left: 12px;
      
      @mixin sp {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
}

.Consultant {
  &__mt-30 {
    margin-top: -30px;
  }

  &__textWrapper {
    margin-left: 40px;

    &--reverse {
      margin-left: 0;
      margin-right: 40px;
    }

    @mixin sp {
      margin-left: 0;
    }
  }

  &__titleWrapper {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 4.8rem;
    line-height: 1;
    
    @mixin sp {
      font-size: 2.8rem;
    }
  }

  &__titleSmall {
    margin-left: 20px;
    color: #b2b2b2;
  }

  &__textBold {
    font-weight: bold;
    font-size: 2.1rem;
    margin-bottom: 20px;
  }

  &__text {
    line-height: 2;
    max-width: 460px;
  }

  &__item {
    padding: 0 10px;

    @mixin sp {
      flex-direction: column;
      padding: 0;
    }
  }

  &__itemFooterWrapper {
    margin-top: 30px;
    padding: 20px;
    background-color: col-primary-navy;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 6px, rgba(33, 68, 124, 1) 6px, rgba(33, 68, 124, 1) 8px );
    color: #fff;

    & > .FlexBox {
      @mixin sp {
        flex-wrap: wrap;
        justify-content: flex-start;
      }
    }
  }

  &__itemFooter {
    min-width: 120px;

    & + & {
      margin-left: 40px;
      padding-left: 40px;
      border-left: 1px solid #fff;

      @mixin sp {
        margin-left: 20px;
        padding-left: 20px;
      }
    }

    &:last-child {
      @mixin sp {
        width: 100%;
        margin-left: 0;
        padding-left: 0;
        border-left: none;
        margin-top: 20px;
      }
    }
  }

  &__itemFooterTitle {
    margin-bottom: 10px;
  }

  &__itemFooterText {
    font-size: 1.4rem;
    line-height: 1.8;

    &--large {
      font-size: 4rem;

      b {
        font-size: 6.7rem;
        line-height: 1;
      }
    }

    &--fixed {
      max-width: 600px;
    }
  }
}

.About {

  &__text {
    &--red {
      color: col-primary-red;
    }

    & + & {
      margin-top: 30px;
    }
  }

  &__table {
    margin: 20px 0;
  }

  &__tableColumn {
    color: col-primary-navy;
    padding: 4px 0;

    &:nth-child(odd) {
      background-color: rgba(0, 49, 115, .05)
    }
  }

  &__tableTitle {
    font-size: 1.8rem;
    font-weight: bold;
    width: 360px;
    flex: 1;
    padding-left: 200px;

    @mixin sp {
      padding-left: 10px;
    }

    i {
      font-style: normal;
      font-weight: normal;
      color: col-primary-red;
    }
  }

  &__tableText {
    font-size: 1.8rem;
    font-weight: bold;
    padding-right: 220px;

    @mixin sp {
      padding-right: 10px;
      margin-left: 20px;
    }

    b {
      font-size: 2.4rem;
      font-weight: normal;
    }
  }

  &__infoText {
    margin-right: 30px;
    line-height: 2;
    max-width: 450px;

    @mixin sp {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__infoTextBlock {
    margin-bottom: 40px;
  }

  &__itemWrapper {
    @mixin sp {
      flex-direction: column;
    }
  }

  &__fieldText {
    margin: 30px 0;
    color: col-primary-navy;
    font-weight: bold;
    line-height: 2;

    p {
      text-indent: -1rem;
      padding-left: 1rem;
    }
  }
}

.Faq {

  &__wrapper {
    max-width: 1310px;
    margin: 0 auto;
  }

  &__items {
    margin-left: -5px;
    overflow: hidden;

    @mixin sp {
      flex-direction: column;
      margin-left: 0;
    }

    & + & {
      margin-top: 10px;
      
      @mixin sp {
        margin-top: 20px;
      }
    }
  }

  &__item {
    width: 645px;
    margin-left: 10px;
    border-radius: 14px;
    background-color: #fff;

    & + & {
      @mixin sp {
        margin-top: 20px;
      }
    }

    @mixin sp {
      width: 100%;
      margin-left: 0;
    }
  }

  &__itemHeader {
    border-radius: 14px 14px 0 0;
    font-size: 2rem;
    color: col-primary-navy;
    font-weight: bold;
    padding: 30px 10px 10px 80px;
    position: relative;
    border-bottom: 3px solid col-bg-blue;

    @mixin sp {
      padding-left: 30px;
    }

    &:before {
      display: block;
      content: "";
      position: absolute;
      width: 19px;
      height: 24px;
      background-image: url(../../../src/asset/engineer_dispatch/ico-q.png);
      background-repeat: no-repeat;
      background-size: contain;
      top: 34px;
      left: 60px;

      @mixin sp {
        left: 20px;
      }
    }
  }

  &__itemBody {
    margin-bottom: 10px;
    padding: 20px 40px 50px 98px;
    position: relative;
    line-height: 2;
    height: 100%;

    @mixin sp {
      padding-left: 48px;
      padding-right: 20px;
    }

    &:before {
      display: block;
      content: "";
      position: absolute;
      width: 17px;
      height: 23px;
      background-image: url(../../../src/asset/engineer_dispatch/ico-a.png);
      background-repeat: no-repeat;
      background-size: contain;
      top: 24px;
      left: 60px;

      @mixin sp {
        left: 20px;
      }
    }
  }

  &__itemTitle {
    margin-left: 20px;
    padding-top: 3px;
  }
}

