.Footer {
  background-color: col-primary-navy;
  padding: 60px 0 0;

  @mixin notPC {
    padding: 0;
  }

  &__wrapper {
    max-width: 1040px;
    margin: 0 auto;

    @mixin notPC {
      width: 100%;
    }
  }

  &__list {
    height: 333px;

      @mixin PC {
        display: block;
      }

      @mixin notPC {
        display: none;
      }

    & + & {
      margin-left: 40px;
      padding-left: 52px;
      border-left: 1px solid #fff;
    }

    &--sp {
      height: auto;
      padding-top: 30px;
      padding-left: 30px;
      margin-top: 30px;
      border-top: 1px solid #e5e5e5;
      display: none;;

      @mixin notPC {
        display: block;
      }
    }
  }

  &__listItem {
    margin-bottom: 20px;
  }

  &__listLink {
    position: relative;
    font-size: 1.4rem;
    color: #fff;
    line-height: 1;

    &--bold {
      font-size: 1.5rem;
      font-weight: bold;

      span {
        padding-left: 10px;
        margin-left: -12px;
        border-left: 2px solid #fff;
      }
    }
  }

  &__logo {
    margin: 60px 0;
  }

  &__info {
    color: #fff;
    display: table;
  }

  &__infoItem {
    display: table-cell;
    vertical-align: top;
    padding-right: 30px;

    @mixin notPC {
      display: block;
    }

    & + & {
      border-left: 1px solid #fff;
      padding-left: 30px;
      padding-right: 0;

      @mixin notPC {
        border: none;
        padding: 0 10px;
        margin-top: 40px;
      }
    }
  }

  &__infoTitle {
    font-size: 2.6rem;
    text-align: right;
    line-height: 1;
    padding-top: 6px;

    @mixin notPC {
      text-align: center;
    }
  }

  &__infoTel {
    margin-top: 16px;
    font-size: 4.8rem;
    text-align: right;
    line-height: 1;

    @mixin notPC {
      text-align: center;
      font-size: 3rem;
    }
  }

  &__infoText {
    font-size: 13px;
    line-height: 1.8;

    & + & {
      margin-top: 10px;
    }
  }

  &__bottom {
    position: relative;
    background-color: #f3f3f4;
    margin-top: 100px;
    height: 118px;

    @mixin notPC {
      margin-top: 50px;
      height: 180px;
      padding: 0 10px;
    }
  }

  &__privacyWrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 28px;

    @mixin notPC {
      justify-content: center;
    }
  }

  &__globalSign {
    img {
      height: 59px;
    }
  }

  &__privacy {
    margin-left: 20px;
    align-items: flex-end;

    @mixin notPC {
      width: auto;
    }
  }

  &__privacyText {
    margin-left: 5px;
    font-size: 1.2rem;
  }

  &__copyright {
    color: col-primary-navy;
    text-align: center;
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    @mixin notPC {
      background-color: #f3f3f4;
      top: 70%;
    }
  }
}
