.Future {

  .is-sp {
    display: none;

    @mixin sp {
      display: inline-block;
    }
  }

  .is-notPC {
    display: none;

    @mixin notPC {
      display: inline-block;
    }
  }

  .is-pc {
    display: block;

    @mixin sp {
      display: none;
    }
    @mixin notPC {
      display: none;
    }
  }

  &__main {
    position: relative;
    height: 720px;
    background-image: url(../../asset/future/img-main.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden; 
    background-position: center center;
    padding: 0 20px;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: .5s;
    animation-fill-mode: forwards;

    @mixin sp {
      height: 500px;
      background-image: url(../../asset/future/img-main-sp.png);
    }

    &--staff {
      height: 600px;
      background-image: url(../../asset/future/img-main-staff.png);

      @mixin sp {
        height: 350px;
        background-image: url(../../asset/future/img-main-staff-sp.png);
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: col-primary-red;
        opacity: .3;
        z-index: 1;
      }
    }

    &--staffDetail {
      background-image: none;
      background-color: #aa5c5a;
      padding: 0;

      @mixin notPC {
        flex-direction: column;
        height: auto;
      }
    }
  }

  &__mainImage {
    background-image: url(../../asset/future/img-main-staff1.png);
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;

    @mixin notPC {
      width: 100%;
      height: 242px;
      padding-bottom: calc(484 / 759  * 100%);
      background-image: url(../../asset/future/img-main-staff1-sp.png);
      background-position: top center;
    }
  }

  &__mainTitle {
    position: relative;
    top: 120px;
    text-align: right;
    margin-right: 5%;

    @mixin sp {
      transform: scale(0.7);
      transform-origin: top left;
      top: 20px;
      margin-right: 0;
    }

    &--staff {
      z-index: 2;

      @mixin sp {
        text-align: left;
        top: 60px;
      }
    }
  }

  &__mainText { 
    width: 50%;
    color: #fff;
    padding-top: 160px;
    padding-left: 40px;
    background-image: url(../../asset/future/text-staff-lead.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 20px 160px;

    @mixin notPC {
      width: 100%;
      padding: 30px 60px 30px;
      background-position: 0 bottom;
    }
    @mixin sp {
      padding: 20px 30px 40px;
    }
  }
  
  &__lead {
    background-color: #aa5c5a;
    padding: 80px 0 0;

    @mixin sp {
      padding: 80px 10px 0;
    }
  }

  &__leadTitle {
    margin-bottom: 40px;

    &--spMargin {
      @mixin notPC {
        margin-bottom: 0;
      }
    }
  }

  &__leadText {
    color: #fff;
    font-size: 1.4rem;
    margin-bottom: 60px;
    max-width: 900px;

    @mixin sp {
      line-height: 1.8;
      margin-bottom: 60px;
    }

    &--center {
      text-align: center;
      margin-bottom: 80px;

      @mixin sp {
        text-align: left;
      }
    }
  }

  &__contents {
    background-color: col-bg-red;
    padding: 60px 10px 0;

    @mixin sp {
      padding: 30px 10px 0;
    }
  }

  &__spColumn {
    @mixin sp {
      flex-direction: column;
    }
  }

  &__textBox {
    border: 1px solid col-primary-red;

    & + & {
      margin-left: 10px;

      @mixin sp {
        margin-left: 0;
        margin-top: 14px;
      }
    }
  }

  &__textBoxTitle {
    color: col-primary-red;
    background-color: #e9d4d3;
    text-align: center;
    padding: 14px 10px;
    font-size: 1.7rem;
  }

  &__textBoxText {
    max-width: 300px;
    padding: 30px 20px;
    font-size: 1.4rem;
    line-height: 1.8;

    @mixin sp {
      max-width: inherit;
    }

    p + p {
      margin-top: 20px;
    }
  }

  &__flowHeader {
    margin-left: -62px;

    @mixin sp {
      margin-left: 10px;
      padding-right: 30px;
    }
  }

  &__flowBody {
    position: relative;
    padding: 40px 10px 40px;
    z-index: 1;
    margin-top: -1px;

    @mixin sp {
      padding: 40px 10px 20px;
    }
    
    &:before {
      width: 5px;
      background-color: col-primary-red;
      display: block;
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);

      @mixin sp {
        transform: translate(0);
        left: 10px;
        width: 3px;
      }
    }
  }

  &__flowItem {
    position: relative;
    margin-bottom: 40px;

    @mixin sp {
      flex-direction: column;
      align-items: flex-start;
      margin-left: -11px;
    }

    &:before {
      content: "";
      display: block;
      background-image: url(../../asset/future/img-flow-point.png);
      background-repeat: no-repeat;
      background-position: center 14px;
      position: absolute;
      width: 100%;
      height: 100%;

      @mixin sp {
        background-position: left 14px;
      } 
    }

    &--1st,
    &--3rd {
      @mixin sp {
        flex-direction: column-reverse;
      }

      .Future__flowTextWrapper {
        margin-left: 80px;

        @mixin sp {
          margin-left: 50px;
        }
      }
    }
    &--2nd, 
    &--4th {
      flex-direction: row-reverse;
      text-align: right;

      @mixin sp {
        flex-direction: column-reverse;
        text-align: left;
      }

      .Future__flowTextWrapper {
        margin-right: 80px;

        @mixin sp {
          margin-left: 50px;
          margin-right: 0;
        }
      }
    }
  }

  &__flowItemFooter {
    text-align: center;
    border: 5px solid col-primary-red;
    max-width: 750px;
    padding: 30px 10px;
    margin: 0 auto;

    @mixin sp {
      border-width: 3px;
      padding: 30px 20px;
    }

    .Future__flowItemTitle {
      font-size: 2rem;
      
      @mixin sp {
        text-align: left;
      }
    }
    .Future__flowItemText {
      @mixin sp {
        text-align: left;
      }
    }
  }

  &__flowTextWrapper {
    max-width: 409px;
  }

  &__flowImageWrapper {
    width: 409px;
    text-align: center;

    @mixin sp {
      max-width: 175px;
      margin-left: 90px;
      margin-top: 10px;
    }
  }

  &__flowItemTitle {
    font-weight: bold;
    font-size: 1.9rem;
    margin-bottom: 20px;
  }

  &__flowItemText {
    font-size: 1.4rem;
    line-height: 1.8;
    margin-bottom: 20px;
  }
  
  &__flowItemInfo {
    font-size: 1.4rem;
    background-color: #F2F2F2;
    padding: 16px 10px;
    overflow: hidden;

    @mixin sp {
      flex-direction: column;
    }
  }

  &__flowItemInfoTitle {
    text-align: justify;
    color: col-primary-red;
    font-weight: bold;
    margin-right: 10px;
    width: 6rem;
  }

  &__flowItemInfoText {
    text-align: left;
  }

  &__flowItemInfoLine {
    overflow: hidden;

    @mixin sp {
      flex-direction: column;
    }

    & + & {
      margin-top: 6px;
    }
  }

  &__program {
    background-color: #e6e6e6;
    border-radius: 0 0 14px 14px;
    padding: 30px 0 60px;

    @mixin sp {
      padding: 30px 10px;
    }

    & > .FlexBox {
      @mixin sp {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &__programItem {
    max-width: 292px;
    background-color: #fff;

    & + & {
      margin-left: 10px;

      @mixin sp {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }

  &__programTextWrapper {
    padding: 20px 20px 40px;
  }

  &__programTitle {
    font-weight: bold;
    font-size: 1.7rem;
    margin-bottom: 14px;
    text-align: center;
  }

  &__programText {
    font-size: 1.4rem;
    line-height: 1.8;
  }

  &__infoGr {
    @mixin sp {
    }

    img {
      margin-bottom: 40px;
      display: block;

      @mixin sp {
        width: 48%;
        margin-bottom: 20px;
      }
    }
  }

  &__bnrWrapper {
    padding: 60px 0;

    @mixin sp {
      flex-direction: column;
      align-items: center;
    }

    a + a {
      margin-left: 12px;
      
      @mixin sp {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
  
  &__bnrContainer {
    background-color: #aa5c5a;
    padding: 50px 0 80px;

    @mixin sp {
      padding: 30px 0 50px;
    }
  }

  &__bnrContainerItem {
    @mixin sp {
      flex-direction: column;
      align-items: center;
    }

    img {
      @mixin sp {
        margin-top: 20px;
      }
    }
  }

  &__bnrContainerTitle {
    color: #fff;
    margin-bottom: 30px;
    padding: 0 10px;

    @mixin sp {
      display: none;
    }
  }

}

.Staff {
  padding-bottom: 60px;
  .RoundWrapper {
    padding: 0;

    @mixin notPC {
      max-width: 700px;
    }
  }

  &__wrapper {
    @mixin notPC {
      flex-direction: column-reverse;
    }
  }

  &__textWrapper {
    background-color: #aa5c5a;
    color: #fff;
    border-radius: 14px 0 0 14px;
    flex-basis: 50%;
    position: relative;

    @mixin notPC {
      border-radius: 0 0 14px 14px;
      padding: 30px 60px;
    }
    @mixin sp {
      padding: 30px 20px;
    }
  }

  &__items {
    position: relative;
    left: 50%;
    transform: translate(-25%, 0);

    @mixin notPC {
      left: 0;
      transform: translate(0);
    }
  }
  
  &__job {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  &__name {
    font-size: 4.8rem;
    line-height: 1;
    margin-bottom: 20px;
  }

  &__join {
    margin-bottom: 20px;
  }

  &__separator {
    margin-bottom: 30px;
  }

  &__text {
    line-height: 2;
  }
}

.StaffDetail {
  &__job {
    font-size: 2rem;
    margin-bottom: 20px;

    @mixin sp {
      font-size: 1.8rem;
    }
  }

  &__name {
    font-size: 7.4rem;
    line-height: 1;
    margin-bottom: 10px;
    
    @mixin notPC {
      margin-bottom: 20px;
    }
    @mixin sp {
      font-size: 3.7rem;
    }
  }

  &__kana {
    font-size: 2.6rem;
    margin-bottom: 60px;

    @mixin notPC {
      display: none;
    }
  }

  &__join {
    font-size: 2rem;
    margin-bottom: 50px;

    @mixin notPC {
      margin-bottom: 10px;
    }
    @mixin sp {
      font-size: 1.6rem;
    }
  }

  &__separator {
    @mixin notPC {
      margin-bottom: 20px;
    }
  }

  &__message {
    font-size: 2.4rem;

    @mixin sp {
      font-size: 1.6rem;
    }
  }

  &__flow {
    margin-bottom: 80px;
  }

  &__container {
    max-width: 900px;
  }

  &__titleSmall {
    color: #999;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  &__title {
    color: col-primary-red;
    font-weight: bold;
    font-size: 2.4rem;
    margin-bottom: 30px;
  }
  
  &__text {
    line-height: 2;
    margin-bottom: 80px;

    @mixin sp {
      margin-bottom: 20px;
    }
  }

  &__image {
    text-align: center;
    margin-bottom: 100px;
  }

  &__imageContainer {
    margin-bottom: 100px;
  }

  &__messageContainer {
    &.RoundWrapper {
      padding: 0;
    }
  }

  &__messageWrapper {
    position: relative;
    justify-content: flex-end;
    align-items: center;
    
    @mixin sp {
      flex-direction: column;
    }
  }

  &__messageTextWrapper {
    position: relative;
    padding-top: 100px;
    margin-right: 100px;

    @mixin notPC {
      margin-right: 50px;
    }

    @mixin sp {
      padding: 30px 10px;
    }

    .StaffDetail__text {
      max-width: 487px;
    }
  }

  &__messageText {
    float: right;
    padding-left: 10px;
  }

  &__messageImage {
    @mixin sp {
      margin-bottom: 60px;
    }
  }
}

