.Header {
  height: 139px;
  position: relative;
  z-index: 100;

  a:hover {
    text-decoration: underline;
  }

  @mixin notPC {
    height: 70px;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: col-primary-navy;

    @mixin notPC {
      display: none;
    }
  }

  &__wrapper {
    max-width: 1159px;
    margin: 0 auto;
    height: 100%;
    justify-content: flex-end;
  }

  &__container {
    flex: 1;
  }

  &__logoImage {
    margin-left: 20px;
    margin-right: 10px;

    img {
      @mixin notPC {
        transform: scale(.8);
        transform-origin: center left;
      }
    }
  }

  &__logoText {
    font-size: 1.2rem;
    font-weight: normal;
    margin-top: 14px;

    @mixin notPC {
      display: none;
    }
  }

  &__menu {
    margin-right: 20px;
    display: block;

    img {
      transform: scale(.7);
    }

    @mixin PC {
      display: none;
    }
  }

  &__linkItems {
    justify-content: flex-end;

    @mixin notPC {
      display: none;
    }
  }

  &__linkItem {
    color: #fff;
    display: block;
    font-size: 1.2rem;
    line-height: 40px;
    height: 40px;
    padding: 0 20px;

    &--blue {
      background-color: #007FC6;
      border-radius: 20px 0 0 20px;
    }
    &--red {
      background-color: #CE1B24;
      border-radius: 0 20px 20px 0;
    }
  }

  &__linkFaq {
    display: block;
    line-height: 40px;
    height: 40px;
    width: 40px;
    border: 1px solid col-primary-navy;
    color: col-primary-navy;
    border-radius: 50%;
    font-size: 1.3rem;
    text-align: center;
    margin-left: 6px;
  }

  &__navi {
    position: relative;
    z-index: 2;

    @mixin notPC {
      display: none;
    }
  }

  &__naviListItem {
    &:first-child a {
      border-radius: 8px 0 0 0;
    }
    &:last-child a {
      border-radius: 0 8px 0 0;
    }
    & + & {
      margin-left: 2px;
    }
  }

  &__naviListItemLink {
    display: block;
    background-color: col-primary-navy;
    color: #fff;
    font-size: 1.5rem;
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;

    &--red {
      background-color: col-primary-red;
    }
  }

  &__naviContent { 
    position: absolute;
    top: 139px;
    width: 100%;
    background-color: #F2F2F2;
    display: none;
    box-shadow: 0 5px 5px rgba(0,0,0,.1);

    &.is-show {
      display: block;
    }
  }

  &__naviTitle {
    color: #fff;
    font-size: 3.1rem;
    padding: 10px 0;
    text-align: center;
    background-color: col-primary-navy;

    &--red {
      background-color: col-primary-red;
    }
  }

  &__naviContentWrapper {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
  }

  &__naviListJob {
    margin-left: 30px;
  }

  &__naviListJobItem {
    margin-top: 10px;
  }

  &__naviJobIcon {
    background-color: col-primary-navy;
    width: 166px;
    height: 116px;
    text-align: center;
    background-image: url(/src/asset/job/ico-search.png);
    background-repeat: no-repeat;
    background-position: center 26px;

    span {
      color: #fff;
      padding-top: 70px;
      display: block;
    }
  }

  &__naviJobItem {

    &--dev {
      &:before {
        background-image: url(../../asset/ico-gear.png);
      }
    }
    &--network {
      &:before {
        background-image: url(../../asset/ico-net.png);
      }
    }
    &--server {
      &:before {
        background-image: url(../../asset/ico-server.png);
      }
    }
    &--maintain {
      &:before {
        background-image: url(../../asset/ico-tool.png);
      }
    }
    &--support {
      &:before {
        background-image: url(../../asset/ico-support.png);
      }
    }
    &--office {
      &:before {
        background-image: url(../../asset/ico-note.png);
      }
    }
  }

  &__naviList1col {
    padding-left: 20px;
  }

  &__naviList1colItem {
    flex-basis: 33.3%;
  }

  &__naviList1colLinkText {
    margin-top: 6px;
  }

  &__naviList1colLink {

    &--navy {
      color: col-primary-navy;
    }
    &--green {
      color: #0A7A9E;
    }
    &--blue {
      color: #006DB9;
    }
  }

  &__naviList2col {
    padding-left: 60px;
    flex-wrap: wrap;
  }
  
  &__naviList2colItem {
    flex-basis: 33.3%;

    &--row4 {
      flex-basis: 25%;
    }
  }

  &__naviList2colLink {
    display: block;
    color: col-primary-navy;

    &--red {
      color: col-primary-red;
    }
  }

  &__naviListJobLinkIcon {
    display: block;
    color: col-primary-navy;
    padding-left: 36px;
    background-repeat: no-repeat;
    background-position: 0 0;

    &--pm {
      background-image: url(/src/asset/job/ico-pm.png);
    }
    &--pmo {
      background-image: url(/src/asset/job/ico-pmo.png);
      background-position: 0 2px;
    }
    &--se {
      background-image: url(/src/asset/job/ico-se.png);
    }
    &--dev {
      background-image: url(/src/asset/job/ico-dev.png);
    }
    &--network {
      background-image: url(/src/asset/job/ico-network.png);
    }
    &--server {
      background-image: url(/src/asset/job/ico-server.png);
      background-position: 4px 0;
    }
    &--help {
      background-image: url(/src/asset/job/ico-help.png);
    }
    &--marketing {
      background-image: url(/src/asset/job/ico-marketing.png);
    }
    &--office {
      background-image: url(/src/asset/job/ico-office.png);
    }
    &--other {
      background-image: url(/src/asset/job/ico-other.png);
    }
  }

  &__menuContent {
    position: absolute;
    top: 70px;
    width: 100%;
    background-color: #F2F2F2;
    display: none;
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
    padding: 40px 20px;
    display: none;

    &.is-show {
      display: block;
    }

    &List {
      display: block;
      width: 100%;
      height: 200px;
      background-color: col-primary-navy;
      font-size: 36px;
      text-align: center;

    }

    &Item {
      background-image: url(../../asset/ico-arrow-r.png);
      display: inline-block;
      background-repeat: no-repeat;
      background-position: 0 50%;
      padding-left: 40px;
      color: #fff;
      margin-top: 70px;
    }
  }
}