.Button {
  width: 340px;
  height: 60px;

  @mixin notPC {
    width: 300px;
    margin: 0 auto;
  }

  .button {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: #000;
    border: 1px solid #000;
    line-height: 60px;
    padding-left: 20px;

    &:hover {
      border-color: #fff;
      color: #fff;
      background-color: #000;

      &:before {
        background-image: url(../../asset/img-arrow-w.png);
      }
    }

    &--bold {
      font-weight: bold;
    }

    &:before {
      content: "";
      display: block;
      width: 46px;
      height: 8px;
      background-image: url(../../asset/img-arrow-b.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 50%;
      right: 20px;
      margin-top: -4px;
    }

    &--gray {
      border: none;
      background-color: #434343;
      color: #fff;

      &:hover {
        color: #434343;
        border: 1px solid #434343;
        background-color: #fff;

        &:before {
          background-image: url(../../asset/img-arrow-g.png);
        }
      }

      &:before {
        background-image: url(../../asset/img-arrow-w.png);
      }
    }
    
    &--white {
      border-color: #fff;
      color: #fff;

      &:hover {
        color: col-primary-navy;
        border: 1px solid #fff;
        background-color: #fff;

        &:before {
          background-image: url(../../asset/img-arrow-n.png);
        }
      }

      &:before {
        background-image: url(../../asset/img-arrow-w.png);
      }
    }

    &--navy {
      border-color: col-primary-navy;
      color: col-primary-navy;

      &:hover {
        color: #fff;
        border: 1px solid col-primary-navy;
        background-color: col-primary-navy;

        &:before {
          background-image: url(../../asset/img-arrow-w.png);
        }
      }


      &:before {
        background-image: url(../../asset/img-arrow-n.png);
      }
    }
  }
}
